#wrap {
	max-width: 700px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	line-height: 100px;
}

button {
	display: block;
	width: 100px;
	height: 30px;
	background-color: blueviolet;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

#wrap button {
	margin: 30px auto;
}

.modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.modal-wrap button {
	background-color: dodgerblue !important;
}

.modal-wrap .modal.w500 {
	width: 500px;
}

.modal-wrap .modal.w300 {
	width: 300px;
}

.modal-wrap .modal {
	position: relative;
	background-color: #fff;
	border-radius: 4px;
	top: -100%;
}

.modal-wrap .modal .modal-title {
	position: relative;
}

.modal-wrap .modal .modal-title>h2 {
	width: 100%;
	background-color: #666;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #fff;
}

.modal-wrap .modal .modal-title>.modal-ico-close {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 10px;
}

.modal-wrap .modal .modal-body>p {
	padding: 20px 20px;
}

.modal-wrap .modal .modal-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding-bottom: 20px;
}

.modal-wrap .modal .modal-button>button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-in {
	z-index: 10;
	/* display: none; */
}